@import '/src/styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  & > * + * {
    margin-left: 8px;
  }
  &_item {
    font-size: 14px;
    color: $FASOOTextMain;
    width: 32px;
    height: 32px;
    padding-top: 2px;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    &:hover {
      color: $FASOOTextMain;
      background: $FASOOButtonGreenLight;
      border-radius: 50%;
    }
  }
  &_cursor {
    font-size: 14px;
    color: $FASOOWhite100;
    width: 32px;
    height: 32px;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    &:hover {
      color: $FASOOTextMain;
      background: $FASOOButtonNomal;
      border-radius: 50%;
    }
  }
  &_currPage {
    color: $FASOOWhite100;
    background-color: $FASOOStateApporve;
    border-radius: 50%;
  }
}
