$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;

$content-max-width: 720px;
$content-horizontal-padding: 15px;
$content-image-max-height: 560px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1080px;

// Variables
$FASOOBlack100: #000000;
$FASOOBlack10: lighten($FASOOBlack100, 90%);

$FASOOWhite100: #ffffff;

$FASOOGreen: #25c16f;
$FASOORed: #f6705e;
$FASOOOrange: #f6aa2e;
$FASOOViolet: #8d65fc;
$FASOOCyan: #27dbd8;
$FASOOBlue: #4c86f4;
$FASOOYellow: #e5be00;
$FASOOAppleGreen: #7dad31;

// Background
$FASOOBgGreen: #e9f8f0;
$FASOOBgRed: #ffe3e7;
$FASOOBgOrange: #fff0dc;

// Text
$FASOOIcon1: #252d38;
$FASOOIcon2: #717985;
$FASOOIcon3: #b5bbc2;
$FASOOIcon4: #d1d6db;
$FASOOTextRed: #ef5350;

$FASOOStateApporve: #05c072;
$FASOOTextMain: #252d38;
$FASOOButtonHover: #2dd67c;
$FASOOMainBlue: #3182f6;
$FASOOToastSuccess: #3569d7;
$FASOOTooltipBg: #4b596b;
$FASOOTextSecond: #717985;
$FASOOScrollThumb: #8a9099;
$FASOOTextDesc: #b5bbc2;
$FASOOButtonDisabled: #b5e5cc;
$FASOOTextDisabled: #d1d6db;
$FASOOBorder: #dadee5;
$FASOOButtonGreenLight: #dcf5e8;
$FASOOMainBlueLight: #e8f3ff;
$FASOOButtonNomal: #ebeff2;
$FASOOTableHeader: #f6f8fa;
$FASOOStateHold: #faa131;
