@charset "utf-8";

// Font, NotoSansKR Regular, Bold
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: normal;
  src: url("../shared/fonts/NotoSansKR/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: bold;
  src: url("../shared/fonts/NotoSansKR/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 200;
  src: url("../shared/fonts/NotoSansKR/NotoSansKR-Light.otf");
}
